@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans:wght@400;500;600;700;800&display=swap');

/* font-family: 'Lobster', cursive; font-family: 'Merriweather Sans', sans-serif; */
* {
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.main-content {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.v-sheet {
    background: none;
}

.headr {
    display: flex;
    justify-content: space-around;
    align-items: start;
    position: relative;
}

.first-infor {
    display: flex;
    justify-content: start;
    align-items: center;
}

.first-infor img {
    width: 150px;
    border-radius: 10px;
}

.first-infor h2 {
    font-family: 'Lobster', cursive;
    color: #9b51e0;
    font-size: 30px;
    margin: 0 10px;
}

.first-infor h3 {
    color: #00d084;
    font-size: 20px;
    margin: 0 10px;
}

.infor {
    position: relative;
    top: 42px;
    width: 100%;
}

.infor h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.infor p {
    text-align: justify;
    font-size: 13px;
    color: #222;
}

.sconde-infor {
    /* margin: 10px; */
    position: relative;
    padding: 0;
}

.sconde-infor img {
    max-width: 100%;
}

.sconde-infor p {
    text-align: justify;
    font-size: 13px;
    color: #222;
}

.mn-video {}


.backgro-infor {
    position: relative;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.backgro-infor .img-one {
    position: absolute;
    top: 313px;
    width: 250px;
}

.backgro-infor .img-two {
    position: absolute;
    top: -55px;
    left: 45px;
}


.backgro-infor .img-theer {
    position: absolute;
    top: 103px;
    left: -410px;
    width: 400px;
    opacity: 0.5;
}

.backgro-infor .triangle-one {
    position: absolute;
    top: 128px;
    left: 78%;
    width: 150px;
    z-index: 0;
    opacity: 0.5;
}