@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans:wght@400;500;600;700;800&display=swap');

/* font-family: 'Lobster', cursive; font-family: 'Merriweather Sans', sans-serif; */
* {
    font-family: 'Lobster', cursive;
    font-family: 'Merriweather Sans', sans-serif;
}

.main-content {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.headr {
    display: flex;
    justify-content: space-around;
    align-items: start;
    position: relative;
}

.first-infor {
    display: flex;
    justify-content: start;
    align-items: center;
}

.first-infor img {
    width: 150px;
    margin: 10px;
    border-radius: 10px;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #9b51e0;
    font-size: 30px;
}

h3 {
    color: #00d084;
    font-size: 20px;
}

.infor {
    margin: 10px;
    position: relative;
    top: 10px;
    width: 100%;
}

.infor h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.infor p {
    text-align: justify;
    font-size: 13px;
    color: #222;
}

.sconde-infor {
    margin: 10px;
    position: relative;
    padding: 0;
}
.sconde-infor img {
    max-width: 100%;
}
.sconde-infor p {
    text-align: justify;
    font-size: 13px;
    color: #222;
}

.mn-video {

}